:root {
  --dk: #c41e3a;
  --dh: #a330c9;
  --dr: #ff7c0a;
  --hu: #aad372;
  --ma: #3fc7eb;
  --mk: #00ff98;
  --pa: #f48cba;
  --pr: #ffffff;
  --rg: #fff468;
  --sh: #0070dd;
  --wl: #8788ee;
  --wr: #c69b6d;
}

@font-face {
  font-family: Manrope;
  src: url(./static/fonts/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: LaoSansPro;
  src: url(./static/fonts/LaoSansPro-Regular.ttf);
}
