.spinner {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #261f22;
  position: relative;
  width: 100%;
  height: 100%;
}

.center_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center_content .backdrop {
  width: 459px;
  height: 86px;
  background: rgba(0, 112, 221, 0.31);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 13px;
}

.center_content .backdrop .app_title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */

  color: #ffffff;

  text-shadow: 0px 2px 4px #661738;
}

.center_content .backdrop .rc_title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 72px;
  position: absolute;
  /* identical to box height, or 300% */
  top: -60px;
  left: 0;
  color: #ff006b;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#span_container {
  width: 100%;
  height: 100%;
}
#span_container div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#span_container div span {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

#span_container div:nth-child(1) span {
  background: var(--dk);
}
#span_container div:nth-child(2) span {
  background: var(--sh);
}
#span_container div:nth-child(3) span {
  background: var(--dh);
}
#span_container div:nth-child(4) span {
  background: var(--wl);
}
#span_container div:nth-child(5) span {
  background: var(--dr);
}
#span_container div:nth-child(6) span {
  background: var(--mk);
}
#span_container div:nth-child(7) span {
  background: var(--wr);
}
#span_container div:nth-child(8) span {
  background: var(--ma);
}
#span_container div:nth-child(9) span {
  background: var(--pa);
}
#span_container div:nth-child(10) span {
  background: var(--hu);
}
#span_container div:nth-child(11) span {
  background: var(--rg);
}
#span_container div:nth-child(12) span {
  background: var(--pr);
}
