<html>
  <head>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="./titlebar.css" />
  </head>
  <div id="drag-region">
    <div id="window-title">
      <span>Tablet Time</span>
    </div>

    <div id="window-controls">
      <div class="button" id="min-button">
        <span>&#xE921;</span>
      </div>
      <div class="button" id="max-button">
        <span>&#xE922;</span>
      </div>
      <div class="button" id="restore-button">
        <span>&#xE923;</span>
      </div>
      <div class="button" id="close-button">
        <span>&#xE8BB;</span>
      </div>
    </div>
  </div>
</html>
